@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 16px;
}
.latoTitle {
  font-family: "Lato", sans-serif;
  color: #5a5454;
}

.robotoText {
  font-family: "Roboto", sans-serif;
  color: #747474;
}
.myButton {
  border-radius: 28px;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  width: 100%;
  max-width: 214px;
  text-align: center;
  padding: 12px 36px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ff8a23;
}
.hero {
  height: 100vh;
}

.header {
  display: flex;

  height: 10%;
  justify-content: space-around;
  align-items: center;
}
/* .headerImg {
  z-index: -1;
  position: absolute;
  max-width: 70rem;
  right: 0;
} */
.WebUiExpertTitle {
  font-size: 2rem;
}
nav {
  display: flex;
  align-items: center;
  min-width: 0;
  font-size: 0.8rem;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
}
a {
  text-decoration: none;
}

.heroLowerPart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 10%;
  margin-left: 10%;
}
.sometext {
  text-align: left;
  justify-self: center;
  font-family: "Lato", sans-serif;
  font-size: 1.9rem;
  color: #534d4d;
}
h5 {
  white-space: nowrap;
  font-size: 1rem;
  padding: 10px;
}
.imgContainer {
  height: 100%;
  display: flex;
  align-items: center;
}
.pairProgrammingImg {
  max-width: 100%;
  max-height: 100%;

  justify-self: center;
}
.waveMe {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
  background-color: #3d37f1;
  border: 1px solid #3d37f1;
  max-width: 190px;
  font-size: 1rem;
  padding: 8px 6px;
  margin-top: 4rem;
}

.logIn_button {
  background-color: #ff8923;
  border: 1px solid #ff8923;
}

/* Service section start */
.service {
  background-color: #f8f8f8;
}
.serviceHeaderText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20%;
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
  gap: 1rem;
}
.serviceHeaderTextTitle {
  color: #3d37f1;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.serviceHeaderText h3 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #5a5454;
}
.serviceHeaderText p {
  font-family: "Roboto", sans-serif;
  color: #747474;
}
.serviceCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 55%;
  margin: auto;
  row-gap: 3rem;
  column-gap: 0.5rem;
  margin-bottom: 2rem;
}
.serviceCard {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fbba77;

  gap: 1rem;
  padding: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.25rem;
}

.serviceCard h4 {
  font-family: "Lato", sans-serif;
  color: #ffffff;
}
.serviceCard p {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.paintServiceCard {
  background: rgb(66, 234, 212);
  background: linear-gradient(
    180deg,
    rgba(66, 234, 212, 1) 7%,
    rgba(65, 199, 234, 1) 100%
  );
}
.dataServiceCard {
  background: rgb(251, 216, 119);
  background: linear-gradient(
    180deg,
    rgba(251, 216, 119, 1) 0%,
    rgba(251, 186, 119, 1) 100%
  );
}
.phoneServiceCard {
  background: rgb(105, 82, 159);
  background: linear-gradient(
    180deg,
    rgba(105, 82, 159, 1) 0%,
    rgba(126, 82, 159, 1) 100%
  );
}
.appServiceCard {
  background: rgb(67, 134, 210);
  background: linear-gradient(
    180deg,
    rgba(67, 134, 210, 1) 0%,
    rgba(67, 82, 210, 1) 100%
  );
}
.domainServiceCard {
  background: rgb(165, 162, 246);
  background: linear-gradient(
    180deg,
    rgba(165, 162, 246, 1) 0%,
    rgba(173, 162, 246, 1) 100%
  );
}
.repairServiceCard {
  background: rgb(255, 128, 136);
  background: linear-gradient(
    180deg,
    rgba(255, 128, 136, 1) 0%,
    rgba(255, 128, 182, 1) 100%
  );
}
.serviceCard img {
  height: 8rem;
  width: 8rem;
}
.serviceCardReadMore {
  border: 1px solid white;
  max-width: 150px;
  font-size: 0.8rem;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
/* services end */

/* product promotions start */

.productPromotion {
  background-color: #ffffff;
}
.promotionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 6rem;
}
.productPromotion img {
  max-width: 100%;
  height: auto;
}

.promotionText {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
}
.promotionText h4 {
  color: #5a5454;
  font-family: "Lato", sans-serif;
}
.promotionText p {
  color: #747474;
  font-family: "Roboto", sans-serif;
}
/* End of promotion section */

/* portfolio start */

.portfolio {
  background-color: #f8f8f8;
}
.portfolioContainer {
  display: flex;
  justify-content: center;
  padding: 5rem;
  gap: 3rem;
}
.portfolioText {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.portfolioText h3 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #5a5454;
}
.portfolioText p {
  font-family: "Roboto", sans-serif;
  color: #747474;
}
.portfolioText ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem;
  font-family: "Roboto", sans-serif;
  padding: 0;
  color: #969ca2;
}
.portfolioGallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
}
.portfolioGalleryImgContainer img {
  max-width: 100%;
  height: auto;
}

/* Portfolio end */

/* Our succes start */

.ourSuccess {
  background-color: #ffffff;
  padding: 2rem;
  padding-bottom: 4rem;
}
.ourSuccessText {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 1rem;
  align-items: center;
}

.ourSuccessText h3 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #5a5454;
  font-size: 1.5rem;
}
.ourSuccessText p {
  font-family: "Roboto", sans-serif;
  color: #747474;
}
.ourSuccessGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
}
.ourSuccessGridElement {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  border-radius: 20px;
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
}
.ourSuccessGridElement p {
  color: #ffffff;
  font-size: 2rem;
}
.ourSuccessGridElement h4 {
  color: #4b647e;
  margin-top: 1.5rem;
}
.ourSuccessGridProjectDone {
  background: rgb(175, 148, 253);
  background: linear-gradient(
    180deg,
    rgba(175, 148, 253, 1) 0%,
    rgba(114, 96, 236, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 20px;
  max-width: 170px;
}
.ourSuccessGridReturnClient {
  background: rgb(251, 201, 164);
  background: linear-gradient(
    180deg,
    rgba(251, 201, 164, 1) 0%,
    rgba(215, 138, 81, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 20px;
  max-width: 170px;
}
.ourSuccessGridHappyClient {
  background: rgb(255, 149, 165);
  background: linear-gradient(
    180deg,
    rgba(255, 149, 165, 1) 0%,
    rgba(237, 83, 83, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 20px;
  max-width: 170px;
}

/* success end */

/* review start */

.review {
  background-image: url(images/Review.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
}
.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviewTitleText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.reviewTitleText h3 {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

.reviewTitleText p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  opacity: 0.23921568627450981;
}
.reviewImgContainer {
  position: relative;
  padding: 2rem;
}
.reviewImgContainerScore {
  background-color: #ff992e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 120%);
}
.reviewLowerText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.reviewLowerText h4 {
  color: #8f8bff;
  font-family: "Roboto", sans-serif;
  font-size: large;
}
.reviewLowerText p {
  color: #d6d6d6;
  font-family: "Roboto", sans-serif;
}

.reviewFooter {
  display: flex;
  border-top: 1px solid black;
  align-items: center;
  justify-content: space-evenly;
  gap: 15rem;
  margin-top: 3rem;
  padding-top: 3rem;
}
.reviewFooterLeft {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.reviewFooterLeft p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  opacity: 0.23921568627450981;
}
.reviewFooterLeft {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.reviewFooterRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.waveMe2 {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: #3d37f1;
  border: 1px solid #3d37f1;
  max-width: 190px;
  font-size: 1rem;
  padding: 0.3rem 6rem;
}

/* End of review */

/* Start of Key Feature */

.keyFeature {
  background-color: #f8f8f8;
}
.keyFeatureContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.keyFeatureCard {
  height: 18rem;
  width: 15rem;
  background-color: red;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.keyFeatureDesign {
  background-image: url(images/desginEXample.png);
  box-shadow: inset 0 0 0 1000px rgba(19, 27, 124, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.keyFeatureSketch {
  background-image: url(images/SketshesEX.png);
  box-shadow: inset 0 0 0 1000px rgba(243, 111, 33, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.keyFeatureTesting {
  background-image: url(images/TestingEX.png);
  box-shadow: inset 0 0 0 1000px rgba(165, 162, 246, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* KeyFeature end */

/* our workflow start */

.ourWorkflowContainer {
  display: flex;
  padding: 5rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.ourWorkflowContainer img {
  width: 100%;
  height: auto;
}
.ourWorkflowContainerRight {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.ourWorkflowContainerRightTitle {
  display: flex;
  flex-direction: column;
}

.ourWorkflowContainerRightGrid {
  display: flex;
  flex-wrap: wrap;
}

.ourWorkflowContainerRightGridElement {
  display: flex;
  gap: 2px;
  flex: 0 0 50%;
}

.ourWorkflowBall {
  background-color: #ff992e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #ffffff;
}

.ourWorkflowBallText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 50%;
}

/* workflow end */

/* blog start */

.ourBlogContainer {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.ourBlogText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ourBlogCards {
  display: flex;
  padding: 4rem;
  gap: 2rem;
}
.ourBlogCard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;

  justify-content: space-between;
}
.blogCardText {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}
.ourBlogCard img {
  align-self: start;
}

.ourBlogImgContainer img {
  width: 100%;
  height: auto;
}
.ourBlogImgContainer {
  background-color: white;
}

.ourBlogCompanies {
  display: flex;
  gap: 2rem;
}
.blogCompaniesImgContainer img {
  width: 100%;
  height: auto;
}

/* Blog end */

/* Footer start */

.footerContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 2rem;
}

.footerElement {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }

  .ourBlogCards {
    flex-direction: column;
  }
  .ourWorkflowContainer {
    flex-direction: column;
    padding: 1rem;
  }
  .keyFeatureContainer {
    flex-direction: column;
  }
  .WebUiExpertTitle {
    display: none;
  }
  .sometext {
    text-align: center;
  }
  h5 {
    white-space: normal;
    font-size: 1rem;
  }
  .heroLowerPart {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 25rem;
    row-gap: 1rem;
    margin: 10%;
  }
  .waveMe {
    margin: auto;
  }
  .serviceCards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .portfolioContainer {
    flex-direction: column;
    align-items: center;
  }
  .portfolioGallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .reviewImgContainerScore {
    width: 4rem;
    height: 4rem;
  }
}
@media screen and (max-height: 643px) {
  .hero {
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  nav ul {
    display: none;
  }
  .reviewFooter {
    flex-direction: column;
    gap: 2rem;
  }
  .promotionContainer {
    flex-direction: column;
  }
}
